<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Spring Boot - Services</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">Services</h2>

    <div class="my-3">
      <form th:action="@{/services}">
        <div class="row d-flex">
          <div class="col-md-6 mt-2">
          </div>
        </div>
      </form>
    </div>

    <div th:if="${services.size() > 0}">
      <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Keywords</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="service : ${services}">
            <th scope="row">[[${service.id}]]</th>
            <td>[[${service.name}]]</td>
            <td>[[${service.associatedKeywords}]]</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="" th:unless="${services.size() > 0}">
      <span>No services found!</span>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>

</body>

</html>