events {

}

http {

        upstream nodejs_app {
                server 127.0.0.1:9999;
        }

        server {
                listen 5678;
                root <PATH_TO_NODEJS_APP>;

                location / {
                        proxy_pass http://nodejs_app;
                }
        }

}